
  <footer class="footer">
    <div class="footer__wrapper wrapper">
      <div class="footer__column">
        <h4 class="footer__caption">Links</h4>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Themes</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Plugins</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">About</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Download</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Documentation</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__caption">Support</h4>
        <ul class="footer__widget">
          <li class="footer__widget-item">
            <a class="footer__widget-link" href="#">GitHub</a>
          </li>
          <li class="footer__widget-item">
            <a class="footer__widget-link" href="#">Roadmap</a>
          </li>
          <li class="footer__widget-item">
            <a class="footer__widget-link" href="#">Bug Reports</a>
          </li>
          <li class="footer__widget-item">
            <a class="footer__widget-link" href="#">Release Notes</a>
          </li>
          <li class="footer__widget-item">
            <a class="footer__widget-link" href="#">Sponsorship</a>
          </li>
          <li class="footer__widget-item">
            <a class="footer__widget-link" href="#">Premium support</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__caption">Contacts</h4>
        <div class="footer__widget">
          13 rue Banaudon<br>
          2395 Lyon<br>
          France<br>
          <br>
          0 594 75 34 33<br>
          hello@smarto.theme
        </div>
      </div>
    </div>
    <div class="footer__wrapper wrapper">
      <div class="footer__column">
        <a class="footer__logo" href="#">
          <img class="header__logo-img" src="/images/logo.svg" alt="Grafema CMS">
        </a>
      </div>
      <div class="footer__column">
        <ul class="footer__terms">
          <li class="footer__terms-item">
            <a class="footer__terms-link" href="#">Terms & Conditions</a>
          </li>
          <li class="footer__terms-item">
            <a class="footer__terms-link" href="#">Privacy Statement</a>
          </li>
          <li class="footer__terms-item">
            <a class="footer__terms-link" href="#">Newsletters</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="scroll-top" style="opacity: 0;">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M25 1a24 24 0 110 48 24 24 0 010-48" fill="none"/>
      <path stroke="#000" stroke-width="2" d="M19 28l6-6 6 6"/>
    </svg>
  </div>

  <script src="js/bundle.min.js"></script>
</body>
</html>
