<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap">
    <title><%= title %></title>
  </head>
  <body>
    <%= _.template(templates.notice)() %>

    <header class="header wrapper">
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img class="header__logo-img" src="/images/logo-full.svg" alt="Grafema CMS">
        </a>
      </div>
      <nav class="header__nav" data-js-menu>
        <ul class="header__menu">
          <li class="header__menu-item">
            <a class="header__menu-link" href="/themes">Темы</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="/plugins">Плагины</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="/about">Возможности</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="/download">Скачать</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="/documentation">Документация</a>
          </li>
        </ul>
      </nav>
      <div class="header__button">
        <a class="btn btn--secondary btn--xs" href="#">Get Grafema</a>
      </div>
      <div class="header__btn" data-js-burger>
        <i class="header__btn-icon"></i>
      </div>
    </header>