.download {
  padding-block: 22vh;
  background-color: var(--grafema-bg-dark);
  color: var(--grafema-text-white);
  border-bottom: 1px solid var(--grafema-bg-universal);

  &__wrapper {
    text-align: center;
    display: grid;
    gap: 4rem;
  }

  &__number {

    samp {
      font-size: 6rem;
      font-weight: 100;
      line-height: 1;
    }
  }

  &__description{
    font-size: 1.125rem;
    max-width: 30rem;
    margin: 0 auto;
    color: var(--grafema-text-muted);
  }
}