.header {
  z-index: 9;
  background-color: var(--grafema-bg-white);
  color: var(--grafema-text-dark);
  border-bottom: 1px solid var(--grafema-bg-universal);

  &--home {
    border-bottom: none;
  }

  &--dark {
    color: var(--grafema-text-white);
    background-color: var(--grafema-bg-dark);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 6rem;
    justify-content: space-between;
  }

  &__logo {
    width: 8rem;
    display: flex;

    &-link {
      height: 2.6rem;
      display: inline-flex;
    }

    &-img {

    }
  }

  &__button {
    width: 8rem;
    display: flex;
    justify-content: flex-end;
  }

  &__nav {
    font-size: 0.875rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2.25rem;

    &:hover {

      .header__menu-link {
        opacity: 0.6;
      }
    }

    &-item {

    }

    &-link {
      color: inherit !important;
      font-weight: 500;
      transition: all 0.3s !important;
      opacity: 1;

      &:hover {
        opacity: 1 !important;
      }
    }
  }
}