.header {
  z-index: 9;
  position: relative;
  color: var(--grafema-text-dark);

  //background-image: url(/images/hero-background.svg);
  //background-repeat: no-repeat;
  //background-size: 90rem;
  //background-position: top center;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 6rem;
    gap: 2rem;
    justify-content: space-between;
  }

  &__logo {
    width: 8rem;
    display: flex;

    &-link {
      height: 2.6rem;
      display: inline-flex;
      align-items: center;
    }

    &-img {
      min-width: fit-content;
      height: 38px;
    }
  }

  &__button {
    width: 8rem;
    display: flex;
    justify-content: flex-end;
  }

  &__nav {
    font-size: 0.875rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2.25rem;

    &:hover {

      .header__menu-link {
        opacity: 0.6;
      }
    }

    &-item {

    }

    &-link {
      color: inherit !important;
      font-weight: 500;
      transition: all 0.3s !important;
      opacity: 1;

      &:hover {
        opacity: 1 !important;
      }
    }
  }
}