.hero {

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.6rem;
		padding-block: 12vh 6vh;
		margin: auto 0;
		max-height: 50rem;
		height: 72.5vh;
	}

	&__caption {
		border-radius: 10rem;
		margin: 0 auto;
		background-color: var(--grafema-bg-lite);
		padding: 0.1875rem;
		border: 1px solid var(--grafema-border-color);
		position: relative;

		&-bg {
			position: absolute;
			margin: auto;
			z-index: -1;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -57%);
			opacity: 0.6;
		}

		&-link {
			color: #232529 !important;
			font-size: 0.8125rem;
			display: flex;
			gap: 0.5rem;
			align-items: center;
			position: relative;
			text-align: center;
		}

		&-btn {
			border-radius: 10rem;
			background-color: var(--grafema-bg-dark);
			display: inline-flex;
			align-items: center;
			color: #fff;
			height: 1.625rem;
			padding: 0 0.75rem;
			background-image: radial-gradient(60% 100% at 50% -30%, hsla(0, 0%, 100%, .25) 30%, hsla(0, 0%, 100%, 0) 100%);
			box-shadow: inset 0 1px 1px 0 hwb(0deg 100% 0% / 25%), inset 0 0 0 1px hsla(0, 0%, 100%, .125), 0 1px 1px 0 hsl(0deg 0% 0% / 5%);
		}

		&-icon {

		}
	}

	&__title {
		font-size: 5rem;
		text-align: center;
		line-height: 110%;
		letter-spacing: -0.03em;
		max-width: 64rem;
		margin: 0 auto -0.15em;
		font-size: min(5.65rem, clamp(3rem, 2rem + 4.36vw, 5.65rem));
	}

	&__description {
		font-size: 1.375rem;
		text-align: center;
		letter-spacing: -0.01em;
		max-width: 38rem;
		margin: 0 auto;
	}

	&__buttons {
		display: flex;
		gap: 0.75rem;
		margin: 0 auto;
	}
}
