.hero {

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2.6rem;
		padding-block: 6.25rem 3.125rem;
	}

	&__caption {
		border-radius: 10rem;
		margin: 0 auto;
		background-color: var(--grafema-bg-lite);
		padding: 3px;
		border: 1px solid var(--grafema-border-color);
		position: relative;

		&-bg {
			position: absolute;
			margin: auto;
			z-index: -1;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -57%);
			opacity: 0.6;
		}

		&-link {
			color: #232529 !important;
			font-size: 13px;
			display: flex;
			gap: 0.5rem;
			align-items: center;
			position: relative;
		}

		&-btn {
			border-radius: 10rem;
			background-color: var(--grafema-bg-dark);
			display: inline-flex;
			align-items: center;
			color: #fff;
			height: 26px;
			padding: 0 1rem;
		}

		&-icon {

		}
	}

	&__title {
		font-size: 80px;
		text-align: center;
		line-height: 110%;
		letter-spacing: -0.03em;
		max-width: 1024px;
		margin: 0 auto -0.15em;
	}

	&__description {
		font-size: 22px;
		text-align: center;
		letter-spacing: -0.01em;
		max-width: 600px;
		margin: 0 auto;
	}

	&__buttons {
		display: flex;
		gap: 0.75rem;
		margin: 0 auto;
	}
}
