.layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;

  &__side {
    flex: 1;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    min-height: 100%;
    padding-block: 3rem;
    padding-inline-end: 3rem;
    border-inline-end: 1px solid var(--grafema-bg-universal);
  }

  &__title {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;

    svg {
      width: 0.875rem;
    }
  }

  &__nav {
    margin: 0;
    font-size: 0.9375rem;
  }

  &__menu {
    padding: 0 0 0 1.375rem;
    margin: 0.4rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: 400;
  }

  &__menu-link {
    display: inline-flex;
    color: var(--grafema-text-dark) !important;
    line-height: 160%;
    padding: 0.1rem 0;
    transition: all .3s !important;
    white-space: nowrap;
    left: 0;
    position: relative;

    &:hover {
      color: var(--grafema-text-dark) !important;
      left: 0.35rem;
    }
  }

  &__main {
    flex: 1;
    padding-block: 3rem;
    padding-inline-start: 3rem;
  }

  @media ( max-width: 1024px ) {
    flex-direction: column;
    min-height: initial;

    &__side {
      height: inherit;
      min-height: inherit;
      padding: 0;
      width: 100%;
      position: initial;
      max-width: 100%;
      border: 0;
      padding-inline-end: 0;
    }
  }

  &__themes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem,1fr));
    gap: 3rem 1rem;
  }

  &__themes-item {

  }

  &__themes-link {
    display: grid;
    gap: 0.75rem;
    color: var(--grafema-text-dark) !important;
  }

  &__themes-picture {
    position: relative;
    margin: 0.4rem;
    border: 1px solid var(--grafema-border-color);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
    border-radius: 0.85rem;
    outline: 1px solid var(--grafema-border-color);
    outline-offset: 0.4rem;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 6rem;
      background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    }

    &:hover {

      .layout__themes-image {
        transform: scale(1.025);
      }
    }
  }

  &__themes-image {
    width: 100%;
    border-radius: 0.85rem;
    transition: all 0.5s;
    transform-origin: top left;
  }

  &__themes-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 0.35rem;
  }

  &__themes-description {
    color: var(--grafema-text-muted);
    font-size: 0.75rem;
  }
}