.notice {
  min-height: 2rem;
  background-color: var(--grafema-bg-lite);
  overflow: hidden;
  z-index: 100;
  position: relative;
  padding: 0.35rem 1rem;
  text-align: center;
  font-size: 0.8125rem;
}