<%
var data = {
  title: "Home Page",
  description: "Home Pages",
  templates: {
    notice: _.template(require('./blocks/notice.html').default)(data),
  },
}
%>
<%= _.template(require('./blocks/header.html').default)(data) %>

<section class="error-404">
  <div class="error-404__head">
    <h1 class="error-404__title" data-text="404">404</h1>
    <p>Ой! Страница не найдена.</p>
  </div>
  <div class="error-404__content">
    <p>Check the entered address or use the site search:</p>
    <p><a class="btn btn--primary" href="/" role="button">Go back to homepage</a></p>
  </div>
</section>
