<%
var data = {
  title: "Home Page",
  description: "Home Pages",
  isHome: true,
  templates: {
    notice: _.template(require('./blocks/notice.html').default)(data),
  }
}
%>
<%= _.template(require('./blocks/header.html').default)(data) %>

<%= _.template(require('./blocks/hero.html').default)({...data, hero}) %>

<%= _.template(require('./blocks/video.html').default)(data) %>

<%= _.template(require('./blocks/features.html').default)(data) %>

<%= _.template(require('./blocks/themes.html').default)(data) %>

<%= _.template(require('./blocks/start.html').default)(data) %>

<%= _.template(require('./blocks/footer.html').default)(data) %>
