<% var data = {
  title: "Home Page"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<%= _.template(require('./sections/notice.html').default)(data) %>

<%= _.template(require('./sections/header.html').default)(data) %>

<%= _.template(require('./sections/hero.html').default)({...data, hero}) %>

<%= _.template(require('./sections/video.html').default)(data) %>

<%= _.template(require('./sections/features.html').default)(data) %>

<%= _.template(require('./sections/themes.html').default)(data) %>

<%= _.template(require('./sections/start.html').default)(data) %>

<%= _.template(require('./parts/footer.html').default)(data) %>
