<%
var data = {
  title: "Home Page",
  description: "Home Pages",
  templates: {
    notice: _.template(require('./blocks/notice.html').default)(data),
  },
  themes: [
    {
      "title": "Smarto",
      "image": "/images/demo-vr-club.jpg",
      "description": "Multipurpose theme for business, startup & new companies",
    },
    {
      "title": "Agency Pro",
      "image": "/images/demo-agency.jpg",
      "description": "Multipurpose theme for business, startup & new companies",
    },
    {
      "title": "Agro",
      "image": "/images/demo-agro.jpg",
      "description": "Multipurpose theme for business, startup & new companies",
    },
    {
      "title": "Education",
      "image": "/images/demo-education.webp",
      "description": "Multipurpose theme for business, startup & new companies",
    },
    {
      "title": "Muse",
      "image": "/images/demo-coming-soon.png",
      "description": "Is a beautiful & clean theme for Art Gallery, Museum & Exhibition",
    },
    {
      "title": "Clenix",
      "image": "/images/demo-coming-soon.png",
      "description": "The ultimate niche Grafema Theme for the cleaning company",
    },
    {
      "title": "Neuro",
      "image": "/images/demo-coming-soon.png",
      "description": "The ultimate niche Grafema Theme for the cleaning company",
    },
  ],
}
%>
<%= _.template(require('./blocks/header.html').default)(data) %>

<div class="layout wrapper">
  <div class="layout__side">
    form
  </div>
  <div class="layout__main">
    <ul class="layout__themes">
      <% data.themes.forEach(theme => { %>
      <li class="layout__themes-item">
        <a class="layout__themes-link" href="#">
          <div class="layout__themes-picture js-cursor-arrow">
            <img class="layout__themes-image" src="<%= theme.image %>" alt="" width="300" height="200">
          </div>
          <div class="layout__themes-title">
            <%= theme.title %>
          </div>
          <div class="layout__themes-content">
            <div class="layout__themes-description">
              <%= theme.description %>
            </div>
            <button class="btn btn--outline btn--xs">Download</button>
          </div>
        </a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<%= _.template(require('./blocks/footer.html').default)(data) %>
