<section class="features wrapper">
  <div class="features__header">
    <div class="features__icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <path fill="none" d="M0 0h256v256H0z"/>
        <path d="m160 16-16 80 64 24L96 240l16-80-64-24L160 16z" opacity=".05"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" d="m160 16-16 80 64 24L96 240l16-80-64-24L160 16z"/>
      </svg>
    </div>
    <h2 class="features__title" data-splitting><span class="muted">Создана для</span> разработчиков и пользователей</h2>
    <div class="features__description">
      <p>Бесплатная CMS для разработкий сайтов и API любой сложности</p>
    </div>
  </div>
  <div class="features__items">
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Поддержка мультиязычности.</strong> Grafema CMS работает в режиме многоязычности, который
          позволяет отображать вебсайт на нескольких языках. Переводите не выходя из рабочего пространства Grafema CMS.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Масштабирование возможностей с помощью плагинов.</strong> Добавляйте и отключайте функции с помощью плагинов. Вам не нужно вникать в программирование, чтобы решить типовые задачи.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Высокая скорость и низкое ресурсопотребление.</strong> Для Grafema CMS подойдёт любой хостинг. Система лёгкая и быстрая благодаря архитектуре и алгоритма работы.
          Сайт будет работать быстро и не нагружать сервер.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Работа в режиме "Headless".</strong> Это значит, что Grafema даёт свободу выбора, позволяя создавать уникальные пользовательские интерфейсы и интегрировать CMS с различными системами и сервисами.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
  </div>
</section>