<section class="features wrapper">
  <div class="features__header">
    <div class="features__icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <path fill="none" d="M0 0h256v256H0z"/>
        <path d="m160 16-16 80 64 24L96 240l16-80-64-24L160 16z" opacity=".05"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" d="m160 16-16 80 64 24L96 240l16-80-64-24L160 16z"/>
      </svg>
    </div>
    <h2 class="features__title" data-splitting><span class="muted">Designed for</span> multiplayer.</h2>
    <div class="features__description">
      <p>The first truly multiplayer CRM. After all, the best work doesn’t come from silos.</p>
    </div>
  </div>
  <div class="features__items">
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>For Engineering Teams.</strong> Grafema CMS is the ultimate content platform that
          enables you to deliver ambitious applications at scale, API first, using your preferred frameworks.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>For Content Creators.</strong> Grafema CMS empowers content creators, editors, and
          marketing teams to create exceptional digital experiences in the way they’ve defined.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>For Businesses.</strong> Inflexible technologies keep your business from innovating.
          Integrate all your existing services to deliver content from a single source.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Real-time collaboration.</strong> Collaborate with your whole team and
          nail every task the first time. See each other click, change, and type in real-time.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
  </div>
</section>