<section class="features">
  <div class="features__header wrapper">
    <div class="features__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256">
        <path d="M214 119a6 6 0 0 0-4-5l-59-22 15-75a6 6 0 0 0-10-5L44 132a6 6 0 0 0 2 10l59 22-15 75a6 6 0 0 0 3 6 6 6 0 0 0 3 1 6 6 0 0 0 4-2l112-120a6 6 0 0 0 2-5ZM106 220l12-59a6 6 0 0 0-4-7l-56-20 92-98-12 59a6 6 0 0 0 4 7l55 20Z"/>
      </svg>
    </div>
    <h2 class="features__title">Designed for multiplayer.</h2>
    <div class="features__description">
      <p>The first truly multiplayer CRM. After all, the best work doesn’t come from silos.</p>
    </div>
  </div>
  <div class="features__items wrapper">
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Real-time collaboration.</strong> Collaborate with your whole team and
          nail every task the first time. See each other click, change, and type in real-time.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Build from anywhere.</strong> Our world-class mobile app lets
          you collaborate from anywhere without compromising your workflow.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Real-time collaboration.</strong> Collaborate with your whole team and
          nail every task the first time. See each other click, change, and type in real-time.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
    <div class="features__item">
      <div class="features__item-text">
        <p>
          <strong>Real-time collaboration.</strong> Collaborate with your whole team and
          nail every task the first time. See each other click, change, and type in real-time.
        </p>
      </div>
      <img class="features__item-img" src="/images/dashboard.webp" alt="Grafema CMS Dashboard">
    </div>
  </div>
</section>