<header class="header">
  <div class="header__wrapper wrapper">
    <div class="header__logo">
      <a class="header__logo-link" href="/">
        <img class="header__logo-img" src="/images/logo.svg" alt="Grafema CMS">
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Themes</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Plugins</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">About</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/download">Download</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/documentation">Documentation</a>
        </li>
      </ul>
    </nav>
    <div class="header__button">
      <a class="btn btn--secondary btn--sm" href="#">Get Grafema</a>
    </div>
  </div>
</header>