<section class="themes">
  <div class="themes__wrapper wrapper">
    <div class="themes__header">
      <h2 class="themes__title" data-splitting><span class="muted">Ready to use</span> themes.</h2>
      <div class="themes__description">
        <p>
          Discover a collection of ready-made themes selected to emphasize
          Grafema's great design, technical innovation and limitless power.
        </p>
      </div>
    </div>
    <div class="themes__slider swiper">
      <div class="themes__slider-wrapper swiper-wrapper">
        <a href="#" class="themes__slider-item swiper-slide js-card js-cursor-arrow">
          <img class="themes__slider-img js-card-item" src="/images/demo-vr-club.jpg" alt="Grafema CMS Dashboard" width="1175" height="588">
        </a>
        <a href="#" class="themes__slider-item swiper-slide js-card js-cursor-arrow">
          <img class="themes__slider-img js-card-item" src="/images/demo-vr-club.jpg" alt="Grafema CMS Dashboard" width="1175" height="588">
        </a>
        <a href="#" class="themes__slider-item swiper-slide js-card js-cursor-arrow">
          <img class="themes__slider-img js-card-item" src="/images/demo-vr-club.jpg" alt="Grafema CMS Dashboard" width="1175" height="588">
        </a>
        <a href="#" class="themes__slider-item swiper-slide js-card js-cursor-arrow">
          <img class="themes__slider-img js-card-item" src="/images/demo-vr-club.jpg" alt="Grafema CMS Dashboard" width="1175" height="588">
        </a>
        <a href="#" class="themes__slider-item swiper-slide js-card js-cursor-arrow">
          <img class="themes__slider-img js-card-item" src="/images/demo-vr-club.jpg" alt="Grafema CMS Dashboard" width="1175" height="588">
        </a>
      </div>
      <div class="themes__slider-nav">
        <div class="themes__slider-pagination">
          <span>1</span> — <span>5</span>
        </div>
        <div class="themes__slider-arrows">
          <div class="themes__slider-nav-prev">
            <svg class="default" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill="#fff" d="M8,16l1.4-1.4L3.8,9H16V7H3.8l5.6-5.6L8,0L0,8L8,16z"></path>
            </svg>
          </div>
          <div class="themes__slider-nav-next">
            <svg class="default" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill="#fff" d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>